
<h1> New Schedule </h1>

<%= form_for :schedule, url: schedule_index_path do |f| %>

	<p> 
		<%= f.label :Company %><br>
		<%= f.collection_select(:companies_id, Company.all, :title, :title) %>
	</p>

	<p>
		<%= f.label :User %><br>
		<%= f.collection_select(:users_id, User.all, :email, :email) %>

	</p>

	<p>
		<%= f.label :hours %><br>
		<%= f.text_field :hours %>
	</p>

 	<p>

	<%= f.submit %>

	</p>



	<% end %>


<%= link_to 'Back', schedule_index_path %>
